$font-root: "../vendor/fira/fonts";

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url("#{$font-root}/FiraSans-Regular.woff") format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url("#{$font-root}/FiraSans-Italic.woff") format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url("#{$font-root}/FiraSans-Medium.woff") format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url("#{$font-root}/FiraSans-MediumItalic.woff") format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: url("#{$font-root}/FiraSans-SemiBold.woff") format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: url("#{$font-root}/FiraSans-SemiBoldItalic.woff") format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url("#{$font-root}/FiraSans-Bold.woff") format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url("#{$font-root}/FiraSans-BoldItalic.woff") format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: url("#{$font-root}/FiraMono-Regular.woff") format('woff');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  src: url("#{$font-root}/FiraMono-Bold.woff") format('woff');
}

body {
  font-family: "Fira Sans", $body-font-family;
}

code {
  font-family: "Fira Mono", $mono-font-family;
}

.main-content {
  line-height: 1.45;
}

.highlight .table-wrapper .highlighttable pre {
  line-height: 1.6;  // This seems to be the correct value to achieve 1.2.
                     // I'm not sure why.
}

.highlight .table-wrapper td.linenos {
  border-right: $border $border-color;
}

code, pre, .text-mono, .highlight {
  font-family: "Fira Mono", $mono-font-family !important;
  line-height: 1.2;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2,h3,h4,h5{ background-color: #ffeeff; }
h1,h2,h3,h4,h5,h6{ font-weight: bold; code { font-weight: bold; }}
