$color-scheme: darshsrad;
$body-background-color: #222;
$body-heading-color: #3bf;
$body-text-color: #fff;
$link-color: #bf3;
$nav-child-link-color: #ddd;
$sidebar-color: #111;
$base-button-color: $grey-dk-250;
$btn-primary-color: $blue-200;
$code-background-color: #111;
$code-linenumber-color: #ddd;
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: $grey-dk-250;
$search-background-color: $grey-dk-250;
$search-result-preview-color: $grey-dk-000;
$border-color: #444;
